header
{
    background: rgb(0, 0, 0);
    color: #ededed;
    text-align: center;
    padding: 0.2em 0.2em 0.2em 0.2em;
    border-radius: 2em;
}
body
{
    background-color: #ededed;
}
#cuadro
{
    background-color: black;
    color: #ededed;
    border-radius: 2em;
}
#bordes
{
    border-collapse: collapse;
}
#img
{
    float: center;
    max-width: 400px;
    max-height: 200px;
    border-radius: 20px;
    padding: 1em 1em 1em 1em;
    border-radius: 4em;
}
#tabla
{
    width: 100%;
    height: 100%;
}
#edit
{
    max-width: 280px;
    max-height: 145px;
}
#titulo2
{
    text-align: center;
    background: black;
    color: #ededed;
}
#cuadro th
{
    border-radius: 1em;
}
#antes
{
    max-width: 235px;
    max-height: 163px;
}